#items-panel.items-panel-expanded
  .table-container
    #info-container
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
    #search-bar-container
      %input#search-bar{ :autofocus => true , :placeholder => "Search..."}
      = inline_svg "eye.svg", class: "eye-svg"
    #toolbar-container
      = inline_svg "plus.svg", class: "plus-svg svg"
      
    =render partial: "inventory_table"

=render partial: "new_item"
=render partial: "cart"
