/*
    *= require_self
    *= require_tree .
*/

$blue-dark: #304269;
$blue-sea: #91BED4;
$blue-sky: #D9E8F5;
$white: #FFFFFF;
$orange: #F26101;
$red: #de6868;
$green: #78c272;

body {
    margin: 0px;
    font-family: 'Ubuntu', sans-serif !important;
    background: $white;
    color: $blue-dark;
}

* {
    font-family: 'Ubuntu', sans-serif !important;
}

textarea:focus, input:focus{
    outline: 0;
    background-color: $white;
}

a {
    text-decoration: none;
}

th, td {
    transition: 0.3s;
}

thead {
    background: $blue-sky;
}

thead tr {
    height: 50px;
}

tbody tr {
    height: 35px;
}

thead th a {
    color: $blue-dark;
}

.link:visited, .link:active, .link:link {
    color: $blue-dark;
    border-bottom: 1px solid $blue-sea;
}

::-webkit-input-placeholder {
    color: $blue-sky;
}

#paginator{
    width: 100%;
    text-align: center;
}

.svg {
    fill: $blue_sky;
    width: 45px;
    height: 45px;
    transition: 0.3s;   
}

.svg:hover {
    fill: $blue-dark;
}