#transactions.panel.transactions-panel-expanded
  .table-container
    #info-container
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        @warning.message= flash[:warning]
    #transactions-buttons-container.buttons-container
      = link_to 'All', transactions_path(:all=>true), class: 'button button-blue'
      = link_to 'Own', transactions_path(:all=>false), class: 'button button-red'
    #transactions-table-wrapper
      = render partial: "transaction_table"