#transactions.panel.transactions-panel-expanded
  .table-container
    #info-container
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        @warning.message= flash[:warning]
    #toolbar-container
      = link_to 'All', transactions_path(:all=>true), class: 'button button-red'


    =render partial: "transaction_table"