#navbar
  #title Maker Pass
  #navbar-menu
    = link_to 'Inventory', items_path, id: 'inventory-menu', class: 'navbar-menu-item'
    #students-menu.navbar-menu-item Students
    = link_to 'Log out', logout_path, id: 'logout', class: 'navbar-menu-item'